<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>500</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.css" rel="stylesheet">

  </head>

  <body>

            <hr>
            <h1 class="col-sm-offset-5">500</h1>
          <div class="col-sm-8 col-sm-offset-4">
              <img class="img-responsive" src="/static/img/python-1.png">

	  </div>




    

  </body>

</html>
